<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarLibros</servlet-name>
        <servlet-class>Servlets.MostrarLibros</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ServletDisponibilidad</servlet-name>
        <servlet-class>Servlets.VerDisponibilidad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAsignar</servlet-name>
        <servlet-class>Servlets.AsignarCubiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RenovarLibro</servlet-name>
        <servlet-class>Servlets.RenovarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarCubiculos</servlet-name>
        <servlet-class>Servlets.MostrarCubiculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarPC</servlet-name>
        <servlet-class>Servlets.MostrarPC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarPC</servlet-name>
        <servlet-class>Servlets.ReservarPC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarLibros</servlet-name>
        <url-pattern>/MostrarLibros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RenovarLibro</servlet-name>
        <url-pattern>/RenovarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarCubiculos</servlet-name>
        <url-pattern>/MostrarCubiculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarPC</servlet-name>
        <url-pattern>/MostrarPC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarPC</servlet-name>
        <url-pattern>/ReservarPC</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>ServletDisponibilidad</servlet-name>
        <url-pattern>/ServletDisponibilidad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAsignar</servlet-name>
        <url-pattern>/ServletAsignar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
